@font-face {
    font-family: Anastasia;
    src: url("./Anastasia.ttf");
}
* {
    box-sizing: border-box;
}

div {
    padding: 15px;
    background: black;
}
p {
    margin: 0px;
    padding: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;

}
.root {
    margin: 20px;
    height: 100vh;
    width: 100vw;
    background: #d37dc6;
    white-space: nowrap;
    padding: 15px;
    border: black;
    overflow: auto;
    overflow-x: auto;
    font-size: 15px;

}

.ver {
    margin: 15px;
    width: 300px;
    height: 100%;
    display: inline-block;
    background: #fdf906;
    border: 2px solid black;
    overflow: auto;

}
.h-50 {
    height: 50px;
    background: #6ad3cd;
    border: 2px solid black;
    margin: 15px;
    overflow: hidden;
}
.h-150 {
    height: 150px;
    background: #ef8f6c;
    border: 2px solid black;
    margin: 15px;
    overflow: hidden;

}

.text-bold {
    font-weight: 700;

}

.text-italic {
    font-style: italic;
    font-family: Anastasia;
}


